html,
body{
    
}
.navbar {
    background-color: dimgrey;
}

 .hero {
    background-color: white;
 }

 .menu {
    background-color: dimgray;
 }

 .menu1 {
    background-color: dimgray;
 }