html,
body{
    
}
.navbar {
    background-color: dimgrey;
}

 .hero {
    background-color: white;
 }

 .menu {
    background-color: dimgray;
 }

 .menu1 {
    background-color: dimgray;
 }

 .card {
   background-color: dimgray;
 }

 .entitas {
   font-size: 3rem;
 }

 .W {
   font-size: 2rem;
 }
